.header{
  display: flex;
  justify-content: space-between;
}
.list{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.li{
    font-size: 20px;
    color: gray;
    cursor: pointer;
    padding:30px;
}
li:hover{
    color: black;
}
.welcome{
    display: inline-block;
    padding: 30px;
    padding-top: 45px;
    font-size: 20px;
    margin:0;
    cursor: default;
}
.main{
    padding: 50px;
    display: flex;
    background-color: aquamarine;
}
h1{
   font-size: 50px;
   max-width: 700px;
   line-height: 68px;
}
.mainLi{
    list-style-type: "\1F44D";
    color: gray;
    padding-top: 15px;
    font-size: 20px;
}
.input{
    width: 500px;
    height: 40px;
    margin-top: 15px;
    padding-left: 25px;
    font-size: 15px;
}
.search{
    font-size: 30px;
    font-weight: 600;
    
}
.form{
    margin-top: 50px;
}
.button{
    height: 40px;
    width: 100px;
    padding:10px;
    font-size: 18px;
    margin-top: 15px;
    border: none;
    background-color: black;
    color: wheat;
    cursor: pointer;
}
button:hover{
    background-color: white;
    color: black;

}
